{
    "presets": [
        [
            // 通过preset-env编译后的代码会注入到全局，一般用在业务项目
            // 注意：不建议与@babel/plugin-transform-runtime一起使用
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "corejs": 3,
                // 不把模块转换成commonjs，
                "modules": false
            }
        ]
    ],
    "plugins": [
        // [
        //     // 通过plugin-transform-runtime编译后的代码会创造沙箱垫片，代码服用，避免重复插入
        //     // 不会污染全局，一般用在库开发 或 不确定代码运行环境 的情况
        //     // 注意：不建议与preset-env一起使用，如果需要在库中开发，则取消注释
        //     // "@babel/plugin-transform-runtime", {
        //     //     "corejs": 3,
        //     // }
        // ]
    ]
}
